.main{
    margin-top: 72.4px;
}

.docentes{
    text-align: center;

    font-family: "Poppins";
}

.docentes-figure{
    height: 80%;
    width: 60%;
    max-width: 200px;
}

.docentes-img{
    height: 100%;
    width: 80%;

    object-fit: cover;
    object-position: center;
    
    border: 2px solid var(--azul);
    border-radius: 50%;
}


