.nosotros{
    margin-top: 72.4px;
    
    font-family: "Poppins";
}

.nosotros-figure{
    width: 90%;
    max-width: 400px;

    margin-bottom: 20px;
}

.nosotros-img{
    height: 100%;
    width: 100%;

    object-fit: cover;
    object-position: center;

    border: 2px solid var(--celesteOscuro);
}

.nosotros-text{
    width: 80%;

    background-color: var(--blanco);
    border: 1px solid var(--celesteOscuro);

    line-height: 25px;
}
