.novedades{
    margin-top: 72.4px;

    font-family: "Poppins";
}

.novedades__text{
    width: 90%;

    padding: 10px;

    position: relative;
    bottom: 30px;
    left: 15px;

    background-color: var(--celesteClaro);

    line-height: 25px;

    font-family: "Poppins";
}

.novedades__figure{
    width: 100%;

    margin: 0 auto;
}

.novedades__img{
    width: 100%;

    border: 2px solid var(--azul);
}