:root{
    /* COLORES */
    --blanco: #cdffff;
    --celesteClaro: #94e7ff;
    --celeste: #40cfff;
    --celesteOscuro: #2499c7;
    --azul: #006691;

    --padding: 80px 0;
}

body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "nav"
    "main"
    "footer";
}

nav{
    grid-area: nav;
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
}

.novedades{
    margin-top: 70px;

    text-align: center;

    font-family: "Poppins";
}

.novedades__title{
    margin-bottom: 20px;
}

.novedades__flex{
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.novedades__container{
    padding: 20px;
}

.novedades__text{
    width: 90%;

    padding: 10px;

    position: relative;
    bottom: 30px;
    left: 15px;

    background-color: var(--blanco);
    box-shadow: 1px 1px 5px black;

    line-height: 25px;

    font-family: "Poppins";
    color: black;
}

.novedades__figure{
    width: 100%;

    margin: 0 auto;
}

.novedades__img{
    width: 100%;

    border: 2px solid var(--azul);
}

@media screen and (min-width: 768px){
    body{
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "nav nav"
        "main main"
        "footer footer";
    }

    .novedades__flex{
        flex-direction: row;
    }

    .novedades__container{
        margin: 10px;
    }

    .novedades__text{
        left: 8px;
    }
}

@media screen and (min-width: 1024px) {
    .novedades__text{
        left: 15px;
    }
}


