:root{
    /* COLORES */
    --blanco: #cdffff;
    --celesteClaro: #94e7ff;
    --celeste: #40cfff;
    --celesteOscuro: #2499c7;
    --azul: #006691;

    --padding: 80px 0;
}

body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "nav"
    "main"
    "footer";
}

nav{
    grid-area: nav;
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
}

.proyectos{
    text-align: center;

    font-family: "Poppins";
}

.proyectos__title{
    margin-bottom: 20px;
}

.proyectos__flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.proyectos__card{
    margin: 20px 10px;
    padding: 10px;

    border: 2px solid var(--celesteOscuro);
    border-radius: 20px;
}

.proyectos__figure{
    width: 80%;
    max-width: 300px;

    margin: 0 auto;
}

.proyectos__img{
    width: 100%;
}

.proyectos__text{
    line-height: 20px;
}

@media screen and (min-width: 768px){
    body{
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "nav nav"
        "main main"
        "footer footer";
    }

    .proyectos__flex{
        flex-direction: row;
    }
}