@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&family=Raleway:wght@300;400;700&display=swap');

:root{
    /* COLORES */
    --blanco: #cdffff;
    --celesteClaro: #94e7ff;
    --celeste: #40cfff;
    --celesteOscuro: #2499c7;
    --azul: #006691;
}

.bg-celeste-claro{
    background-color: var(--celesteClaro);
}

.bg-celeste{
    background-color: var(--celeste);;
}

.bg-celeste-oscuro{
    background-color: var(--celesteOscuro);
}

.subtitle{
    margin-bottom: 30px;

    font-weight: 700;
}

.navbar{
    box-shadow: 0 2px 10px gray;
}

.navbar-title, .nav-link{
    font-family: "Raleway";
    font-weight: 700;
    color: var(--azul);

    transition: all 300ms;
}

.navbar-title:hover, .nav-link:hover{
    transform: scale(0.95);
    color: var(--celesteOscuro);
} 

.footer{
    background-color: var(--celesteOscuro);

    font-family: "Raleway";
}

.footer-guide{
    max-width: 305px;
}

.footer-iframe{
    height: 100%;
    width: 100%;
}

.footer-title{
    font-weight: 700;
}

.footer-btn{
    margin-right: 20px;

    background-color: var(--celeste);
}

.footer-btn:hover{
    background-color: var(--celesteClaro);

    color: var(--azul);
}

.social{
    height: 150px;

    background-color: var(--azul);
}

.social-title{
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--blanco);
}

.social-icon{
    height: 30px;
    width: 30px;

    margin-left: 20px;
}

.social-icon:hover{
    transform: scale(1.1);
    transition: all .5s;
}

.social-icon-instagram{
    width: 60px;
}

.social-icon-youtube{
    width: 40px;
}

@media (min-width: 768px){
    .footer-guide{
        height: 300px;
    }

    .social{
        height: 70px;
    }
}

