@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&family=Raleway:wght@300;400;700&display=swap');

:root{
    /* COLORES */
    --blanco: #cdffff;
    --celesteClaro: #94e7ff;
    --celeste: #40cfff;
    --celesteOscuro: #2499c7;
    --azul: #006691;

    --padding: 80px 0;
    --background: linear-gradient(270deg, #2499c7, #94e7ff);
}

.container{
    width: 90%;
    max-width: 1200px;

    margin: 0 auto;
    padding: var(--padding);

    overflow: hidden;
}

.pointer{
    cursor: pointer;
}

.nav{
    --padding: 0;

    height: 70px;
    width: 100%;

    position: fixed;
    top: 0;
    z-index: 1;
    
    background-color: var(--celeste);
    box-shadow: 0 0 5px gray;

    font-family: "Raleway";
}

.nav__flex{
    height: inherit;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__logo{
    color: var(--azul);
}

.nav__logo:hover{
    transform: scale(0.9);
    transition: all 500ms;

    color: var(--celesteOscuro);
}


.nav__menu{
    height: 20px;
    width: 25px;
}

.nav__input{
    display: none;
}

.nav__input:checked ~ .nav__list{
    left: 0;
}

.nav__list{
    height: calc(100vh - 70px);
    width: 100%;

    position: fixed;
    top: 70px;
    left: -100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    background-color: var(--celesteOscuro);

    transition: all .5s;
}

.nav__item:hover{
    transform: scale(0.9);
    transition: all .5s;
}

.nav__link{
    font-weight: 700;
    color: var(--blanco);

    transition: all 300ms;
}

.nav__link:hover{
    color: var(--celesteClaro);
}

.footer{
    background-color: var(--celesteOscuro);

    font-family: "Raleway";

    text-align: center;
}

.footer__flex{
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.footer__guide{
    height: 35%;
    width: 100%;
    max-width: 305px;
}

.footer__iframe{
    height: 100%;
    width: 100%;

    transition: all 500ms;
}

.footer__guide:hover{
    border: 0.5px solid black;
}

.footer__title{
    margin-bottom: 5px;

    font-size: 1.5rem;
}

.form__div{
    margin-bottom: 5px;
}

.form__button{
    margin-right: 10px;
    padding: 5px 25px;
}

.social{
    --padding: 20px 0;

    height: 70px;

    background-color: var(--azul);
}

.social__title{
    margin-bottom: 10px;

    color: var(--blanco);
}

.social__flex{
    height: inherit;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.social__icons{
    height: 100%;
}

.social__icon{
    height: 30px;
    width: 30px;

    margin-left: 20px;
}

.social__icon:hover{
    transform: scale(1.1);
    transition: all .5s;
}

.social__icon--instagram{
    width: 60px;
}

.social__icon--youtube{
    width: 40px;
}

@media (min-width: 280px) and (max-width: 320px){
    .container{
        width: 95%;
    }
}

@media screen and (min-width: 768px){
    .nav__menu{
        display: none;
    }


    .nav__list{
        width: unset;

        position: unset;

        flex-basis: 60%;
        flex-direction: row;

        display: flex;
        justify-content: space-between;

        background-color: unset;

        transition: unset;

    }

    .nav__link{
        color: var(--azul);
    }

    .nav__link:hover{
        color: var(--celesteOscuro);
    }

    .footer{
        --padding: 30px 0;

        text-align: unset;
    }

    .footer__flex{
        width: 100%;

        flex-direction: row;
        justify-content: space-around;
    }

    .footer__guide{
        height: 70%;
    }

    .social__flex{
        height: inherit;

        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .social__title{
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 1024px){
    .nav__logo{
        font-size: 1.3rem;
    }

    .footer__flex{
        justify-content: space-around;
    }

}