.bg-celeste-claro{
    background-color: $celesteClaro;
}

.bg-celeste{
    background-color: $celeste;
}

.bg-celeste-oscuro{
    background-color: $celesteOscuro;
}

.subtitle{
    margin-bottom: 30px;

    font-weight: 700;
}