.bg-celeste-claro{
    background-color: map-get($map: $paleta, $key: 'celesteClaro');
}

.bg-celeste{
    background-color: map-get($map: $paleta, $key: 'celeste');
}

.bg-celeste-oscuro{
    background-color: map-get($map: $paleta, $key: 'celesteOscuro');
}

.main{
    margin-top: 72.4px;
}

.subtitle{
    margin-bottom: 30px;

    font-weight: 700;
}