//index

.header{
    height: calc(100vh - 62.5333px);

    margin-top: 62.5333px;

    background: $background, url(../img/frente-escuela.jpg);
    @include background(center, cover, scroll);

    .header-texts{
        height: inherit;
    
        @include d-flex(column, center, center);
    
        text-align: center;

        font-family: $mainFont;

        .header-title{
            margin-bottom: 20px;
    
            font-size: map-get($map: $font-sizes, $key: 'textSm');
            font-weight: 700;
        
            color: map-get($map: $paleta, $key: 'azul');

            @media (min-width: 768px){
                font-size: map-get($map: $font-sizes, $key: 'textMd');
            }

            @media (min-width: 1024px){
                font-size: map-get($map: $font-sizes, $key: 'textLg');
            }
        }

        .header-subtitle{
            font-family: "Poppins";
        
            color: map-get($map: $paleta, $key: 'azul');

            @media (min-width: 1024px){
                font-size: map-get($map: $font-sizes, $key: 'textMd');
            }
        }
    }
    
}

.main-index{
    .card{
        border: 1px solid map-get($map: $paleta, $key: 'azul');
    }

    .card-title{
        margin-bottom: 15px;
    
        font-weight: 700;
    }
    
    .card-title, .card-text{
        font-family: $mainFont;
    }
    
    .card-btn{
        background-color: map-get($map: $paleta, $key: 'celesteOscuro');
    
        transition: all 300ms;
    
        color: white;
    }
    
    .card-btn:hover{
        background-color: map-get($map: $paleta, $key: 'blanco');
    
        color: map-get($map: $paleta, $key: 'azul');
    }
}



//docentes


.docentes{
    text-align: center;

    font-family: $mainFont;

    .docentes-figure{
        height: 80%;
        width: 50%;
        max-width: 200px;
    }
    
    .docentes-img{
        height: 100%;
        width: 100%;
    
        object-fit: cover;
        object-position: center;
        
        border: 2px solid map-get($map: $paleta, $key: 'azul');;
        border-radius: 50%;
    }
}




//novedades
.novedades{

    font-family: $mainFont;
    
    .novedades__figure{
        width: 100%;
    
        margin: 0 auto;

        .novedades__img{
            width: 100%;
        
            border: 2px solid map-get($map: $paleta, $key: 'azul');
        }
    }
}




//proyectos

.proyectos{
    font-family: $mainFont;

    .card{
        min-width: 80%;

        .card-text{
            line-height: 25px;
        }
    }
}



//nosotros

.nosotros{
    font-family: $mainFont;

    .nosotros-figure{
        width: 90%;
        max-width: 400px;
    
        margin-bottom: 20px;

        .nosotros-img{
            height: 100%;
            width: 100%;
        
            object-fit: cover;
            object-position: center;
        
            border: 2px solid map-get($map: $paleta, $key: 'celesteOscuro');
        }
    }
    
    .nosotros-text{
        @extend .card-text;

        width: 80%;
    
        background-color: map-get($map: $paleta, $key: 'blanco');
        border: 1px solid map-get($map: $paleta, $key: 'celesteOscuro');
    }
}


