@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&family=Raleway:wght@300;400;700&display=swap');

$mainFont: "Poppins";
$secondFont: "Raleway";

$font-sizes: (
    'textSm': 1.8rem,
    'textMd': 2.3rem,
    'textLg': 2.8rem,
);