.footer{
    background-color: map-get($map: $paleta, $key: 'celesteOscuro');

    font-family: $secondFont;

    .footer-container{
        padding: 70px 0;
    }

    .footer-guide{
        height: 200px;
        max-width: 305px;

        @media (min-width: 768px){
            height: 300px;
        }

        .footer-iframe{
            height: 100%;
            width: 100%;
        }
    }

    .form-check-label{
        margin-right: 20px;
    }
    
    .footer-btn{
        margin-right: 20px;
    
        background-color: map-get($map: $paleta, $key: 'celeste');

        &:hover{
            background-color: map-get($map: $paleta, $key: 'celesteClaro');

            color: map-get($map: $paleta, $key: 'azul');
        }
    }

    .social{
        height: 150px;
    
        background-color: map-get($map: $paleta, $key: 'azul');

        @media (min-width: 768px){
            height: 70px;
        }

        .social-title{
            font-size: 1.2rem;
            font-weight: 700;
            color: map-get($map: $paleta, $key: 'blanco');
        }
        
        .social-icon{
            height: 30px;
            width: 30px;
        
            margin-left: 20px;
        }
        
        .social-icon:hover{
            transform: scale(1.1);
            transition: all .5s;
        }
        
        .social-icon-instagram{
            width: 60px;
        }
        
        .social-icon-youtube{
            width: 40px;
        }
    }
}