@mixin d-flex($direction, $align, $justify){
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
};

@mixin background($pos, $size, $attach){
    background-position: $pos;
    background-size: $size;
    background-attachment: $attach;
;}

