.navbar{
    background-color: $celeste;
    box-shadow: 0 2px 10px gray;

    .navbar-title{
        font-family: $secondFont;
        font-weight: 700;
        color: $azul;
    
        transition: all 300ms;

        &:hover{
            transform: scale(0.95);
            color: $celesteOscuro;
        }
    }

    .nav-link{
        font-family: $secondFont;
        font-weight: 700;
        color: $azul;
    
        transition: all 300ms;

        &:hover{
            transform: scale(0.95);
            color: $celesteOscuro;
        }
    }
}