.navbar{
    background-color: map-get($map: $paleta, $key: 'celeste');
    box-shadow: 0 2px 10px gray;

    .navbar-title{
        font-family: $secondFont;
        font-weight: 700;
        color: map-get($map: $paleta, $key: 'azul');
    
        transition: all 300ms;

        &:hover{
            transform: scale(0.95);
            color: map-get($map: $paleta, $key: 'celesteOscuro');
        }
    }

    .nav-link{
        font-family: $secondFont;
        font-weight: 700;
        color: map-get($map: $paleta, $key: 'azul');
    
        transition: all 300ms;

        &:hover{
            transform: scale(0.95);
            color: map-get($map: $paleta, $key: 'celesteOscuro');
        }
    }
}