:root{
    --background: linear-gradient(270deg, #00669122, #94e7ffaa);
}

.header{
    height: calc(100vh - 62.5333px);

    margin-top: 62.5333px;

    background: var(--background), url(../img/frente-escuela.jpg);
    background-position: center;
    background-size: cover;

    .header-texts{
        height: inherit;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        text-align: center;
    }
    
    .header-title{
        margin-bottom: 20px;
    
        font-family: "Poppins";
        font-size: 1.8rem;
        font-weight: 700;

        color: var(--azul);

        @media (min-width: 768px){
            font-size: 2rem;
        }
        @media (min-width: 1024px){
            font-size: 2.5rem;
        }    
    }
    
    .header-subtitle{
        font-family: "Poppins";
        font-size: 1.7rem;

        color: var(--azul);

        
        @media (min-width: 1024px){
            font-size: 2.2rem;
        }   

    } 
}

.card{
    .card-title{
        font-weight: 700;
    }
    
    .card-title, .card-text{
        margin-bottom: 15px;
    
        font-family: "Poppins"
    }
    
    .card-btn{
        background-color: var(--celesteOscuro);
    
        transition: all 300ms;
    
        color: white;
    }
    
    .card-btn:hover{
        background-color: var(--blanco);
    
        color: var(--azul);
    }
}